<html>
<head>
    <script>

function sync() {
    httpPutAsync("sync", "/", function(responseText) {
        alert(responseText);
    });
}

function httpPutAsync(action, theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(JSON.parse(xmlHttp.responseText));
    }
    xmlHttp.open("PUT", theUrl, true); // true for asynchronous
    xmlHttp.send(action);
    
}




    </script>
</head>
<body>
<h1>Screen Show Config</h1>
<table border="1" cellpadding="15px">
    <tr>
        <th>Folder</th>
        <th>Schedule</th>
        <th></th>
    </tr>
    <tr>
        <td>{{downloadFolder}}</td>
        <td>{{downloadFrequency}}</td>
        <td><a target="drive" href="https://drive.google.com/drive/u/0/folders/{{googleFolderId}}">Link to Google Drive Folder</a></td>
        <td><input type="button" value="Sync Now" onclick="sync()"/></td>
    </tr>
</table>
<table border="1" cellpadding="15px">
    <thead>
    <th>Image</th>
    <th>Create Date</th>
    <th>File Name</th>
    </thead>
    <tbody>
    {{#each files}}
        <tr>
            <td><img src="{{imageUrl}}" width="200px"/></td>
            <td>{{fileDate}}</td>
            <td>{{fileName}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>